<%- layout('./layouts/boilerplate') %>
    <div class="container">
        <img class="row mt-5 m-auto justify-content-center rounded-circle" style="background-color: rgb(213, 213, 213); display: block;" src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt="">
        <h1 class="text-center">
            <%=user.username%>
        </h1>
        <h5 class="mt-0 text-center text-muted">
            <%=user.email%>
        </h5>
        <div class="mb-3 row justify-content-center">
            <a class="m-2 btn btn-primary" href="/<%=user.username%>/blogs/new">Create a blog</a>
            <a class="m-2 btn btn-primary" href="/<%=user.username%>/blogs">Show blogs</a>
        </div>
        <br>
    </div>